<table>
    <thead>
       <tr>
        <td>ID</td>
        <td>Usuario</td>
        <td>Acesso</td>
        <td>
          <button type="button" class="btn btn-success" (click)="openModalNovo()">Novo</button>
        </td>
       </tr>
    </thead>
    <tbody>
            @for (usuario of usuarios; track $index) {
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.role.name}}</td>
                    <td> 
                        <button  mdbRipple (click)="edit(usuario)" class="btn btn-primary">Editar</button>
                        <button  mdbRipple (click)="deletarUsuario(usuario)" class="btn btn-danger">Excluir</button>
                    </td>
                </tr>                
            }
    </tbody>
</table>

<ng-template #modalUsuarioNovo>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"
        ></button>
      </div>
      <div class="modal-body">
        <app-usuarioedit [usuario]="usuarioEdit" (retorno)="retornoDetalhe($event)"></app-usuarioedit>
      </div>
</ng-template>

