// box user
.sidenav {
    background-color: #ec7301;
    height: 100%;
    width: 11%; /* Defina uma largura fixa para a barra lateral */
    display: grid;
    grid-template-rows: auto 1fr; /* Ajusta a altura da sideuser e sidebuttons */
    position: fixed; /* Faz com que a barra lateral fique fixa na tela */
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo exceder a altura da tela */
}

// sideuser

.sideuser{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sideuser img {
    width: 65%;
    margin: 10%;
}

p{
    font-size: 1.5vw;
    word-wrap: break-word;
}

// navegacao

.sidebuttons{
    display: flex;
    align-items: end;
}

.sidebuttons ul {
    width: 100%;
    list-style: none;
    padding: 1vw;    
    text-align: center;
    margin-bottom: 1vw;
}

.sidebuttons ul li {
    margin-top: 30%; /* Ajuste a margem conforme necessário */
}

.sidebuttons ul img {

    width: 35%;
}