// box user

.sidenav{
    background-color: rgb(226, 171, 98);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

// sideuser

.sideuser{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sideuser img{
    width: 50%;
    height: 50%;
}

h2{
    background-color: orangered;
    padding: 5% 10%;
    border-radius: 30px;
    color: aliceblue;
    font-size: 20px;
}

// navegacao

.sidebuttons{
    display: flex;
    align-items: end;
}

.sidebuttons ul {
    width: 100%;
    list-style: none;
    padding: 10%;    
    text-align: center;
    margin-bottom: 10%;
}

.sidebuttons ul li {
    margin-top: 30%;
}

.sidebuttons ul img {
    width: 35%;
}